
*{margin: 0;
    padding: 0;}

.cabeçalho{ background-color: #e04fb0;
            color: #750875;
            display: flex;
            justify-content: space-around;
            padding: 12px 0;
            font-family: Arial;
            align-items: center; }
   
.cabeçalho-titulo {font-size: 32px;
                   font-style: oblique;}

.cabeçalho-lista { font-size: 24px;}

.cabeçalho-item{ display:inline-block;
                 margin: 0 16px;}

.escola{ background-image: linear-gradient(#ff00f2,#660351);
         color: rgb(0, 0, 0);
         display: flex;
         justify-content: center;
         align-items:center;
         padding: 25px ;
}
.escola-conteudo{width: 40%;
                  font-family:calc(8);
                  justify-content:center;
}
.foto {justify-content:right;}
.escola-imagem{ margin: 5 20px;}
.escola-titulo { padding: 24px 0;

}
.escola-texto { font-size: 18px;}
